body{
    margin: 0;
    padding: 0;
    background-image: url("axiom-pattern.png");
}

body, html{
    height: 100%;
}

.title{
    font-size: 10rem;
    color: #10083f;
}

.row div{
    font-size: 2rem;
}

@media only screen and (max-width: 1100px) {
  .col-sm-2{
      display: none;
  }
}